
<section class="external-app-wrapper">
  <div class="logo"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg preserveAspectRatio="xMidYMid meet" version="1.1" viewBox="0 0 267.204 267.245" xmlns:svg="http://www.w3.org/2000/svg">
    <path d="M228.256 39.167l-11.755 82.74-82.74 11.756 11.756-82.74z" fill="#a295ae" opacity=".8"/>
    <path d="M39.19 228.134l11.755-82.74 82.74-11.756-11.755 82.74z" fill="#5d6f6d" opacity=".8"/>
    <path d="M39.19 39.277l82.74 11.755 11.756 82.74-82.74-11.755z" fill="#8cd592" opacity=".8"/>
    <path d="M228.16 228.144l-82.74-11.755-11.756-82.742 82.74 11.756z" fill="#665e74" opacity=".8"/>
    <path d="M133.738 267.245l-50.194-66.82 50.194-66.817 50.194 66.818z" fill="#3c3647" opacity=".8"/>
    <path d="M267.204 133.48l-66.82 50.195-66.817-50.194 66.818-50.193z" fill="#837193" opacity=".8"/>
    <path d="M133.616 0l50.194 66.82-50.194 66.817L83.422 66.82z" fill="#a2f4ac" opacity=".8"/>
    <path d="M0 133.706l66.82-50.194 66.817 50.194L66.82 183.9z" fill="#7ea685" opacity=".8"/>
    <path d="M133.602 101.85l31.772 31.772-31.772 31.772-31.772-31.772z" fill="#3c3647"/>
</svg>

  </div>
  <h1>Taiga</h1>
  <h2 translate="EXTERNAL_APP.AUTHORIZATION_REQUEST" translate-values="{application: vm.application.get('name')}"></h2>
  <div class="user-card avatar">
    <div class="card-inner">
      <div class="user-image"><img tg-avatar="vm.user" alt="{{::vm.user.get('full_name_display')}}"/></div>
      <div class="user-data">
        <h3>{{ ::vm.user.get("full_name_display") }}</h3>
        <p>{{ ::vm.user.get("email") }}</p>
      </div>
    </div><a ng-href="{{::vm.loginWithAnotherUserUrl}}" title="{{'EXTERNAL_APP.LOGIN_WITH_ANOTHER_USER' | translate}}" translate="EXTERNAL_APP.LOGIN_WITH_ANOTHER_USER"></a>
  </div>
  <div class="app-card">
    <div class="card-inner">
      <div class="app-image"><img ng-src="{{::vm.application.get('icon_url')}}" alt="{{::vm.application.get('name')}}"/></div>
      <div class="app-data">
        <h3>{{ ::vm.application.get("name") }}</h3><a ng-href="{{::vm.application.get('web')}}" title="{{::vm.application.get('name')}}" target="_blank">{{ ::vm.application.get('web') }}</a>
        <p>{{ ::vm.application.get("description") }}</p>
      </div>
    </div>
  </div><a href="#" ng-click="vm.createApplicationToken()" title="{{'EXTERNAL_APP.AUTHORIZE_APP' | translate}}" translate="EXTERNAL_APP.AUTHORIZE_APP" class="button-green"></a><a href="#" ng-click="vm.cancel()" title="{{'EXTERNAL_APP.CANCEL' | translate}}" translate="EXTERNAL_APP.CANCEL" class="cancel"></a>
</section>