
<div class="project-list-wrapper centered">
  <div class="project-list-title">
    <h1 translate="PROJECTS.MY_PROJECTS"></h1>
    <div class="create-options"><a variant="primary" href="#" tg-nav="create-project" title="{{'PROJECT.NAVIGATION.ACTION_CREATE_PROJECT' | translate}}" translate="PROJECT.NAVIGATION.ACTION_CREATE_PROJECT" class="create-project-btn btn-small"></a></div>
  </div>
  <section class="project-list-section">
    <div class="project-list">
      <ul tg-sort-projects="vm.projects">
        <li tg-bind-scope="tg-bind-scope" tg-repeat="project in vm.projects track by project.get('id')" ng-class="{'blocked-project': project.get('blocked_code')}" class="list-itemtype-project">
          <div class="list-itemtype-project-left">
            <div class="list-itemtype-project-data-wrapper"><a href="#" tg-nav="project:project=project.get('slug'),section=project.get('my_homepage')" title="{{ ::project.get('name') }}" class="list-itemtype-project-image"><img tg-project-logo-small-src="::project" alt="{{::project.get('name')}}"/></a>
              <div class="list-itemtype-project-data">
                <div class="list-itemtype-data-title"><a href="#" tg-nav="project:project=project.get('slug'),section=project.get('my_homepage')" title="{{ ::project.get('name') }}" class="project-title">{{project.get('name')}}</a>
                  <tg-svg ng-if="project.get('is_private')" svg-icon="icon-private" svg-title-translate="PROJECT.PRIVATE"></tg-svg>
                  <tg-svg ng-if="project.get('i_am_owner')" svg-icon="icon-badge" svg-title-translate="COMMON.OWNER"></tg-svg>
                  <tg-svg ng-if="project.get('blocked_code')" svg-icon="icon-blocked-project" svg-title-translate="PROJECT.BLOCKED_PROJECT.BLOCKED"></tg-svg>
                </div>
                <div class="list-itemtype-data-meta project-description">{{ ::project.get('description') | limitTo:300 }}<span ng-if="::project.get('description').length &gt; 300">...</span></div>
              </div>
            </div>
          </div>
          <tg-svg svg-icon="icon-draggable" class="drag"></tg-svg>
        </li>
      </ul>
    </div>
    <aside class="help-area">
      <p translate="PROJECT.HELP"></p>
    </aside>
  </section>
</div>