
<div class="row">
  <div class="username">
    <div class="avatar"><img tg-avatar="currentUser" tg-bo-alt="currentUser.full_name_display"/>
      <div class="avatar-data">
        <div class="name"><span tg-bo-bind="currentUser.full_name_display"></span>
          <tg-svg ng-if="currentUser.id == owner" svg-icon="icon-badge" svg-title-translate="COMMON.OWNER"></tg-svg>
        </div>
        <div tg-bo-bind="currentUser.role_name" class="position"></div>
        <div tg-leave-project="" project="project" user="currentUser"></div>
      </div>
    </div>
  </div>
  <div tg-team-member-stats="tg-team-member-stats" stats="stats" user="currentUser.id" issuesEnabled="issuesEnabled" tasksenabled="tasksEnabled" wikienabled="wikiEnabled" class="member-stats"></div>
</div>