
<tg-lightbox-close on-close="onClose()"></tg-lightbox-close>
<div class="warning-users-import-lightbox">
  <h1 translate="PROJECT.IMPORT.WARNING.TITLE" class="warning-users-import-title"></h1>
  <p translate="PROJECT.IMPORT.WARNING.DESCRIPTION"></p>
  <div class="actions">
    <button variant="secondary" translate="PROJECT.IMPORT.WARNING.CHECK" ng-click="onClose()" class="btn-small"></button>
    <button variant="primary" type="submit" translate="PROJECT.IMPORT.IMPORT" ng-click="onConfirm()" class="btn-small"></button>
  </div>
</div>