
<div class="ticket-section-label"><span>{{ 'COMMON.FIELDS.ASSIGNED'|translate }}</span><span ng-if="assignedUsers.length &gt; visibleAssignedUsersCount &amp;&amp; !displayHidden">&nbsp;({{ assignedUsers.length }})</span></div>
<div class="ticket-user-list-container">
  <div ng-show="loading" class="loading-container"><img src="v-1759149512431/svg/spinner-circle.svg" alt="{{'COMMON.LOADING' | translate}}" class="loading-spinner"/></div>
  <div ng-class="{ 'loading': loading }" class="ticket-user-list-content">
    <div class="ticket-user-list">
      <div ng-repeat="assignedUser in assignedUsers track by assignedUser.id">
        <div ng-if="($index + 1 &lt;= visibleAssignedUsersCount) || displayHidden" ng-class="{ 'read-only': !isEditable }" class="user-list-single">
          <div class="user-list-avatar"><img tg-avatar="assignedUser" alt="{{assignedUser.full_name_display}}"/></div>
          <div class="user-list-name"><span>{{assignedUser.full_name_display}}</span></div>
          <tg-svg ng-if="isEditable" svg-icon="icon-close" title="{{'COMMON.ASSIGNED_TO.DELETE_ASSIGNMENT' | translate}}" data-user-id="{{ assignedUser.id }}" class="remove-user"></tg-svg>
        </div>
      </div>
    </div><a href="" ng-if="assignedUsers.length &gt; visibleAssignedUsersCount" ng-click="toggleFold()" ng-class="{ active: displayHidden }" role="button" class="ticket-section-unfold">
      <tg-svg svg-icon="icon-view-more"></tg-svg></a>
    <div ng-if="isEditable" class="ticket-users-actions"><a ng-click="openAssignedUsers()" class="ticket-users-action">
        <tg-svg svg-icon="icon-add" class="users-action icon"></tg-svg><span>{{ "COMMON.ASSIGNED_USERS.ADD_ASSIGNED" | translate }}</span></a><a ng-if="!selfAssigned" ng-click="selfAssign()" class="ticket-users-action"><span>{{ 'COMMON.ASSIGNED_TO.SELF' | translate }}</span></a></div>
  </div>
</div>