
<div ng-class="{'is-blocked': vm.story.get('is_blocked'), 'is-closed': vm.story.get('is_closed')}" ng-hide="!vm.options.closed_us &amp;&amp; vm.story.get('is_closed')" class="story-row">
  <div ng-if="vm.options.name" class="name">
    <div class="name-container"><a tg-nav="project-userstories-detail:project=vm.story.getIn(['project_extra_info', 'slug']),ref=vm.story.get('ref')" ng-attr-title="{{::vm.story.get('subject')}}"><span ng-bind-html="'#'+vm.story.get('ref')" class="ref"></span><span ng-bind-html="vm.story.get('subject') | emojify" class="subject"></span></a>
      <tg-belong-to-epics ng-if="vm.story.get('epics')" format="pill" epics="vm.story.get('epics')"></tg-belong-to-epics>
    </div>
  </div>
  <div ng-if="vm.options.project" tg-nav="project:project=vm.story.getIn(['project_extra_info', 'slug'])" class="project"><img tg-project-logo-small-src="::vm.story.get('project_extra_info')" alt="{{::vm.story.getIn(['project_extra_info', 'name'])}}" title="{{::vm.story.getIn(['project_extra_info', 'name'])}}"/></div>
  <div ng-if="vm.options.sprint" class="sprint">{{::vm.story.get('milestone_name')}}</div>
  <div ng-if="vm.options.assigned &amp;&amp; vm.story.get('assigned_to')" class="assigned"><img tg-avatar="vm.story.get('assigned_to_extra_info')" alt="{{::vm.story.getIn(['assigned_to_extra_info', 'full_name_display'])}}"/></div>
  <div ng-if="vm.options.assigned &amp;&amp; !vm.story.get('assigned_to')" class="assigned"><img src="v-1759149512431/images/unnamed.png" alt="{{EPICS.DASHBOARD.UNASSIGNED | translate}}"/></div>
  <div ng-if="vm.options.status" class="status-holder">{{vm.story.getIn(['status_extra_info', 'name'])}}</div>
  <div ng-if="vm.options.progress" class="progress">
    <div class="progress-bar"></div>
    <div ng-if="::vm.percentage" ng-style="{'width':vm.percentage}" class="progress-status"></div>
  </div>
</div>