
<div class="notification-message notification-message-success">
  <div class="text">
    <h4 class="warning"></h4>
    <p></p>
  </div>
</div>
<div class="notification-message notification-message-error">
  <tg-svg svg-icon="icon-error"></tg-svg>
  <div class="text">
    <h4 class="warning"></h4>
    <p></p>
  </div><a href="" title="{{'NOTIFICATION.CLOSE' | translate}}" class="close">
    <tg-svg svg-icon="icon-close"></tg-svg></a>
</div>
<div class="notification-light notification-message-light-error">
  <div class="text">
    <h4 class="warning"></h4>
    <p></p>
  </div><a href="" title="{{'NOTIFICATION.CLOSE' | translate}}" class="close">
    <tg-svg svg-icon="icon-close"></tg-svg></a>
</div>