
<div class="wrapper">
  <div class="invitation-main">
    <div tg-invitation="tg-invitation" class="centered invitation-container"><a href="" tg-bo-title="invitation.invited_by.full_name_display" class="avatar"><img tg-avatar="invitation.invited_by" tg-bo-alt="invitation.invited_by.full_name_display"/><span tg-bo-bind="invitation.invited_by.full_name_display" class="person-name"></span></a><span class="invitation-text">
        <p translate="AUTH.INVITED_YOU"></p>
        <p tg-bo-bind="invitation.project_name" class="project-name"></p></span>
      <div class="invitation-form">
        <form class="login-form">
          <p translate="LOGIN_COMMON.HEADER" class="form-header"></p>
          <fieldset>
            <input type="text" autocorrect="off" autocapitalize="none" name="username" ng-model="dataLogin.username" data-required="true" placeholder="{{'LOGIN_COMMON.PLACEHOLDER_AUTH_NAME' | translate}}"/>
          </fieldset>
          <fieldset class="login-password">
            <input type="password" name="password" tg-capslock="tg-capslock" ng-model="dataLogin.password" data-required="true" placeholder="{{'LOGIN_COMMON.PLACEHOLDER_AUTH_PASSWORD' | translate}}"/>
            <!-- This should be hidden when focus on pass--><a href="" tg-nav="forgot-password" title="{{'LOGIN_COMMON.TITLE_LINK_FORGOT_PASSWORD' | translate}}" translate="LOGIN_COMMON.LINK_FORGOT_PASSWORD" class="forgot-pass"></a>
          </fieldset>
          <fieldset>
            <button variant="primary" type="submit" translate="LOGIN_COMMON.ACTION_ENTER" class="btn-small full"></button>
          </fieldset>
          <div ng-if="authPlugins.length" class="contrib-plugins-wrapper">
            <label translate="LOGIN_COMMON.ALT_LOGIN"></label>
            <fieldset ng-repeat="plugin in authPlugins" ng-include="plugin.template"></fieldset>
          </div>
        </form>
        <form class="register-form">
          <p translate="REGISTER_FORM.TITLE" class="form-header"></p>
          <fieldset>
            <input type="text" autocorrect="off" autocapitalize="none" name="username" ng-model="dataRegister.username" data-required="true" data-maxlength="255" data-regexp="^[\w.-]+$" placeholder="{{'REGISTER_FORM.PLACEHOLDER_NAME' | translate}}"/>
          </fieldset>
          <fieldset>
            <input type="text" name="full_name" ng-model="dataRegister.full_name" data-required="true" data-maxlength="256" placeholder="{{'REGISTER_FORM.PLACEHOLDER_FULL_NAME' | translate}}"/>
          </fieldset>
          <fieldset>
            <input type="email" name="email" ng-model="dataRegister.email" data-required="true" data-maxlength="255" placeholder="{{'REGISTER_FORM.PLACEHOLDER_EMAIL' | translate}}"/>
          </fieldset>
          <fieldset>
            <input type="password" name="password" tg-capslock="tg-capslock" ng-model="dataRegister.password" data-required="true" placeholder="{{'REGISTER_FORM.PLACEHOLDER_PASSWORD' | translate}}"/>
          </fieldset>
          <tg-terms-of-service-and-privacy-policy-notice target="dataRegister.accepted_terms"></tg-terms-of-service-and-privacy-policy-notice>
          <fieldset>
            <button variant="primary" type="submit" ng-disabled="dataRegister.accepted_terms == false" title="{{'REGISTER_FORM.ACTION_SIGN_UP' | translate}}" translate="REGISTER_FORM.ACTION_SIGN_UP" class="btn-small full"></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>