/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.import-project-selector {
  margin: 1rem auto;
  max-width: 1200px;
  padding: 0 1.25rem;
  width: 100%;
  max-width: 800px; }
  .import-project-selector .import-project-selector-service img {
    display: block;
    margin: 1rem auto;
    width: 4rem; }
  .import-project-selector .import-project-selector-filter {
    align-items: center;
    background: #E2E3E9;
    display: flex;
    padding: .5rem; }
    .import-project-selector .import-project-selector-filter input {
      background: #F1F1F4;
      border: 0;
      flex: 1;
      padding: .5rem; }
    .import-project-selector .import-project-selector-filter svg {
      width: 1rem;
      height: 1rem;
      fill: #5A5B72;
      margin: 0 1rem; }
  .import-project-selector .import-project-selector-title {
    border-bottom: 1px solid #E2E3E9;
    padding: 1rem; }
    .import-project-selector .import-project-selector-title:hover {
      background: rgba(37, 162, 140, 0.1);
      cursor: pointer; }
