/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.button,
.button-green,
.button-gray,
.button-gray-light,
.button-red,
.button-red-light,
.trans-button,
.menu-button,
.button-blackish,
.button-auth,
.button-tribe,
.button-primary,
.button-secondary,
.icon-button-primary,
.form-button,
.filter-button {
  font-family: 'Ubuntu-Medium', Arial, Helvetica, sans-serif;
  font-size: .875rem;
  align-items: center;
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: #4C566A;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal; }
  .button.loading span,
  .loading.button-green span,
  .loading.button-gray span,
  .loading.button-gray-light span,
  .loading.button-red span,
  .loading.button-red-light span,
  .loading.trans-button span,
  .loading.menu-button span,
  .loading.button-blackish span,
  .loading.button-auth span,
  .loading.button-tribe span,
  .loading.button-primary span,
  .loading.button-secondary span,
  .loading.icon-button-primary span,
  .loading.form-button span,
  .loading.filter-button span {
    animation: loading .5s linear; }
  .button .icon,
  .button-green .icon,
  .button-gray .icon,
  .button-gray-light .icon,
  .button-red .icon,
  .button-red-light .icon,
  .trans-button .icon,
  .menu-button .icon,
  .button-blackish .icon,
  .button-auth .icon,
  .button-tribe .icon,
  .button-primary .icon,
  .button-secondary .icon,
  .icon-button-primary .icon,
  .form-button .icon,
  .filter-button .icon {
    fill: currentColor;
    height: 1rem;
    margin-right: .25rem;
    width: 1rem; }
  .button.disabled, .button[disabled],
  .disabled.button-green,
  .disabled.button-gray,
  .disabled.button-gray-light,
  .disabled.button-red,
  .disabled.button-red-light,
  .disabled.trans-button,
  .disabled.menu-button,
  .disabled.button-blackish,
  .disabled.button-auth,
  .disabled.button-tribe,
  .disabled.button-primary,
  .disabled.button-secondary,
  .disabled.icon-button-primary,
  .disabled.form-button,
  .disabled.filter-button,
  .button-green[disabled],
  .button-gray[disabled],
  .button-gray-light[disabled],
  .button-red[disabled],
  .button-red-light[disabled],
  .trans-button[disabled],
  .menu-button[disabled],
  .button-blackish[disabled],
  .button-auth[disabled],
  .button-tribe[disabled],
  .button-primary[disabled],
  .button-secondary[disabled],
  .icon-button-primary[disabled],
  .form-button[disabled],
  .filter-button[disabled] {
    background-color: #D8DEE9;
    box-shadow: none;
    color: rgba(46, 52, 64, 0.5);
    cursor: not-allowed; }
    .button.disabled:hover, .button[disabled]:hover,
    .disabled.button-green:hover,
    .disabled.button-gray:hover,
    .disabled.button-gray-light:hover,
    .disabled.button-red:hover,
    .disabled.button-red-light:hover,
    .disabled.trans-button:hover,
    .disabled.menu-button:hover,
    .disabled.button-blackish:hover,
    .disabled.button-auth:hover,
    .disabled.button-tribe:hover,
    .disabled.button-primary:hover,
    .disabled.button-secondary:hover,
    .disabled.icon-button-primary:hover,
    .disabled.form-button:hover,
    .disabled.filter-button:hover,
    .button-green[disabled]:hover,
    .button-gray[disabled]:hover,
    .button-gray-light[disabled]:hover,
    .button-red[disabled]:hover,
    .button-red-light[disabled]:hover,
    .trans-button[disabled]:hover,
    .menu-button[disabled]:hover,
    .button-blackish[disabled]:hover,
    .button-auth[disabled]:hover,
    .button-tribe[disabled]:hover,
    .button-primary[disabled]:hover,
    .button-secondary[disabled]:hover,
    .icon-button-primary[disabled]:hover,
    .form-button[disabled]:hover,
    .filter-button[disabled]:hover {
      background-color: #D8DEE9;
      color: currentColor; }
  .button.button-large,
  .button-large.button-green,
  .button-large.button-gray,
  .button-large.button-gray-light,
  .button-large.button-red,
  .button-large.button-red-light,
  .button-large.trans-button,
  .button-large.menu-button,
  .button-large.button-blackish,
  .button-large.button-auth,
  .button-large.button-tribe,
  .button-large.button-primary,
  .button-large.button-secondary,
  .button-large.icon-button-primary,
  .button-large.form-button,
  .button-large.filter-button {
    padding: .75rem 4rem; }
  .button.button-block,
  .button-block.button-green,
  .button-block.button-gray,
  .button-block.button-gray-light,
  .button-block.button-red,
  .button-block.button-red-light,
  .button-block.trans-button,
  .button-block.menu-button,
  .button-block.button-blackish,
  .button-block.button-auth,
  .button-block.button-tribe,
  .button-block.button-primary,
  .button-block.button-secondary,
  .button-block.icon-button-primary,
  .button-block.form-button,
  .button-block.filter-button {
    display: flex; }
  .button span,
  .button-green span,
  .button-gray span,
  .button-gray-light span,
  .button-red span,
  .button-red-light span,
  .trans-button span,
  .menu-button span,
  .button-blackish span,
  .button-auth span,
  .button-tribe span,
  .button-primary span,
  .button-secondary span,
  .icon-button-primary span,
  .form-button span,
  .filter-button span {
    color: currentColor; }
  .button svg,
  .button-green svg,
  .button-gray svg,
  .button-gray-light svg,
  .button-red svg,
  .button-red-light svg,
  .trans-button svg,
  .menu-button svg,
  .button-blackish svg,
  .button-auth svg,
  .button-tribe svg,
  .button-primary svg,
  .button-secondary svg,
  .icon-button-primary svg,
  .form-button svg,
  .filter-button svg {
    fill: currentColor;
    stroke: none; }

.button-green {
  background: #A7CB23; }
  .button-green:hover, .button-green.active, .button-green:visited:hover {
    background: #b5db2d; }

.button-gray {
  background: #70728F; }
  .button-gray:hover, .button-gray.active, .button-gray:visited:hover {
    background: #7e809a; }

.button-gray-light {
  background: #C6C6D4; }
  .button-gray-light:hover, .button-gray-light.active, .button-gray-light:visited:hover {
    background: #d5d5df; }

.button-red {
  background: #FF6363; }

.button-red-light {
  background: #ffa0a0; }

.button-red:hover, .button-red.active, .button-red:visited:hover,
.button-red-red-light:hover,
.button-red-red-light.active,
.button-red-red-light:visited:hover {
  background: #ff7d7d; }

.trans-button {
  background-color: #F9F9FB; }
  .trans-button span,
  .trans-button .icon {
    color: #16171D;
    transition: color .2s linear; }
  .trans-button .icon {
    margin-right: .5rem; }
  .trans-button:visited {
    color: #16171D; }

.menu-button {
  border-radius: 0;
  color: #16171D; }
  .menu-button:hover {
    background: #E2E3E9;
    color: #5A5B72; }
  .menu-button:visited {
    color: #16171D; }
  .menu-button span {
    color: #16171D; }

.button-blackish {
  background: #16171D;
  color: #E2E3E9; }
  .button-blackish:hover {
    background: #16171D;
    color: #fff; }

.button-bulk {
  font-size: 1.1rem;
  margin-left: .5rem; }
  .button-bulk .icon {
    height: 1rem;
    margin: 0;
    width: 1rem; }

.button-auth {
  font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
  background: #434456;
  display: flex;
  width: 100%; }
  .button-auth .icon,
  .button-auth img {
    font-size: 1.1rem;
    color: #fff;
    margin-right: .5rem;
    vertical-align: middle; }
  .button-auth:hover {
    background: #000; }

.button-tribe {
  align-items: center;
  background: #107a8a;
  display: flex;
  padding: .4rem;
  padding-left: 1.5rem; }
  .button-tribe:hover, .button-tribe.active {
    background: #0b525c;
    color: #fff; }
  .button-tribe .tribe-logo {
    margin-right: .5rem;
    width: 1.5rem; }

.tribe-more-info {
  font-size: .875rem;
  color: #25A28C;
  display: inline-block;
  margin-top: .5rem; }

.submit-button {
  width: 100%; }

.button-group {
  background-color: #F9F9FB;
  border-bottom: 1px solid #008AA8;
  display: flex;
  margin-bottom: 1rem;
  width: 100%; }
  .button-group input {
    display: none; }
    .button-group input:checked + label {
      background-color: #FFFFFF;
      border: 1px solid #008AA8;
      border-bottom: 1px solid #FFFFFF;
      border-radius: 4px 4px 0 0;
      color: #008AA8; }
    .button-group input + label {
      font-family: 'Ubuntu-Medium', Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: .875rem;
      color: #70728F;
      cursor: pointer;
      display: block;
      padding: .5rem 1.5rem;
      position: relative;
      top: 1px; }
    .button-group input + label:hover {
      color: #008AA8; }

.button-check input {
  display: none; }
  .button-check input:checked + label {
    background-color: #008AA8;
    transition: background .3s linear; }

.button-check label {
  background-color: #C6C6D4;
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: .5rem; }
  .button-check label:hover {
    background: #70728F;
    cursor: pointer;
    transition: background .3s linear; }

.button-primary {
  background: #83EEDE;
  padding: .25rem; }
  .button-primary:hover {
    background: #008AA8;
    color: #FFFFFF; }

.button-secondary {
  background: #D8DEE9;
  color: #4C566A; }

.icon-button-primary {
  background: #83EEDE; }
  .icon-button-primary span {
    color: #2E3440; }

.form-button {
  background: none;
  border-radius: 0;
  padding: .25rem; }
  .form-button .icon {
    width: 1rem;
    height: 1rem;
    fill: #008AA8;
    margin: 0; }
  .form-button:hover {
    background: #D8DEE9; }

.filter-button {
  background: #F9F9FB;
  color: #008AA8;
  padding: 7px 1rem;
  text-transform: none; }
  .filter-button .text {
    color: currentColor; }
  .filter-button svg {
    fill: #008AA8; }
  .filter-button:hover, .filter-button.active {
    background: #D8DEE9;
    color: #008AA8; }
  .filter-button .selected-filters {
    font-size: .7rem;
    align-items: center;
    background-color: #E44057;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-inline-start: .25rem;
    width: 1rem; }
