/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.related-userstories {
  margin-bottom: 2rem;
  position: relative; }

.related-userstories-header {
  align-content: center;
  align-items: center;
  background: #F1F1F4;
  display: flex;
  justify-content: space-between;
  min-height: 36px; }
  .related-userstories-header .related-userstories-title {
    font-size: 1rem;
    font-family: 'Ubuntu-Medium', Arial, Helvetica, sans-serif;
    color: #434456;
    margin-left: 1rem; }

.related-userstories-body {
  width: 100%; }
  .related-userstories-body .row.blocked {
    background: rgba(228, 64, 87, 0.25); }
