
<ul class="popover pop-points-open <% if (horizontal) { %>horizontal<% }; %>"><% _.each(points, function(point) { %>
  <li><% if (point.selected) { %><a href="" title="<%- point.name %>" data-point-id="<%- point.id %>" data-role-id="<%- roleId %>" class="point"><span class="item-text"><%- point.name %></span></a><% } else { %><a href="" title="<%- point.name %>" data-point-id="<%- point.id %>" data-role-id="<%- roleId %>" class="point active"><span class="item-text"><%- point.name %></span></a><% } %></li><% }); %>
</ul>