
<section class="admin-submenu">
  <nav>
    <ul>
      <li id="adminmenu-third-parties-webhooks" class="third-parties-webhooks"><a href="" tg-nav="project-admin-third-parties-webhooks:project=project.slug"><span class="title">Webhooks</span></a></li>
      <li id="adminmenu-third-parties-github"><a href="" tg-nav="project-admin-third-parties-github:project=project.slug"><span class="title">Github</span></a></li>
      <li id="adminmenu-third-parties-gitlab"><a href="" tg-nav="project-admin-third-parties-gitlab:project=project.slug"><span class="title">Gitlab</span></a></li>
      <li id="adminmenu-third-parties-bitbucket"><a href="" tg-nav="project-admin-third-parties-bitbucket:project=project.slug"><span class="title">Bitbucket</span></a></li>
      <li id="adminmenu-third-parties-gogs"><a href="" tg-nav="project-admin-third-parties-gogs:project=project.slug"><span class="title">Gogs</span></a></li>
    </ul>
  </nav>
</section>