
<div tg-change-password-from-recovery="tg-change-password-from-recovery" class="change-password-form-container">
  <p class="change-password-text"><strong translate="CHANGE_PASSWORD_RECOVERY_FORM.TITLE"></strong><br/><span translate="CHANGE_PASSWORD_RECOVERY_FORM.SUBTITLE"></span></p>
  <form>
    <fieldset>
      <input type="password" name="password" id="password" tg-capslock="tg-capslock" ng-model="data.password" data-required="true" placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_NEW_PASSWORD' | translate}}"/>
    </fieldset>
    <fieldset>
      <input type="password" name="password2" id="password2" tg-capslock="tg-capslock" ng-model="data.password2" data-required="true" data-equalto="#password" placeholder="{{'CHANGE_PASSWORD_RECOVERY_FORM.PLACEHOLDER_RE_TYPE_NEW_PASSWORD' | translate}}"/>
    </fieldset>
    <fieldset>
      <button variant="primary" type="submit" title="{{'CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD' | translate}}" translate="CHANGE_PASSWORD_RECOVERY_FORM.ACTION_RESET_PASSWORD" class="button-change-password btn-small full"></button>
    </fieldset>
  </form>
</div>