
<div tg-change-email="tg-change-email" class="change-email-form">
  <p><strong translate="CHANGE_EMAIL_FORM.TITLE"></strong></p>
  <p><span translate="CHANGE_EMAIL_FORM.SUBTITLE"></span></p>
  <form>
    <fieldset>
      <input type="hidden" name="email_token" ng-model="data.email_token" data-required="true" placeholder="{{'CHANGE_EMAIL_FORM.PLACEHOLDER_INPUT_TOKEN' | translate}}"/><a variant="primary" href="" title="{{'CHANGE_EMAIL_FORM.ACTION_CHANGE_EMAIL' | translate}}" translate="CHANGE_EMAIL_FORM.ACTION_CHANGE_EMAIL" class="btn-small ng-submit-form"></a>
      <button type="submit" class="hidden"></button>
    </fieldset>
  </form>
</div>