
<tg-lightbox-close></tg-lightbox-close>
<form>
  <h2 translate="LIGHTBOX.DELETE_PROJECT.TITLE" class="title"></h2>
  <p><span translate="LIGHTBOX.DELETE_PROJECT.QUESTION" class="question"></span><span translate="LIGHTBOX.DELETE_PROJECT.SUBTITLE" class="subtitle"></span></p>
  <div class="options">
    <button variant="icon" class="btn-link btn-cancel js-cancel"><span translate="COMMON.CANCEL"></span></button>
    <button variant="destructive" class="btn-small btn-confirm js-confirm">
      <tg-svg svg-icon="icon-trash"></tg-svg><span translate="LIGHTBOX.DELETE_PROJECT.CONFIRM"></span>
    </button>
  </div>
</form>