
<tg-lightbox-close></tg-lightbox-close>
<form>
  <h2 class="title"></h2>
  <p class="question"></p>
  <p class="subtitle"></p>
  <p class="replacement"></p>
  <select class="choices"></select>
  <p class="warning"></p>
  <div class="options">
    <button variant="icon" class="btn-link btn-cancel js-cancel-ask"><span translate="COMMON.CANCEL"></span></button>
    <button variant="destructive" class="btn-small btn-confirm js-confirm-ask">
      <tg-svg svg-icon="icon-trash"></tg-svg><span translate="COMMON.DELETE"></span>
    </button>
  </div>
</form>