
<ul class="search-filter">
  <li data-name="epics" class="epics"><a href="#" title="{{ 'SEARCH.FILTER_EPICS' | translate }}">
      <tg-svg svg-icon="icon-epics"></tg-svg><span class="num"></span><span translate="SEARCH.FILTER_EPICS" class="name"></span></a></li>
  <li data-name="userstories" class="userstories"><a href="#" title="{{ 'SEARCH.FILTER_USER_STORIES' | translate }}" class="active">
      <tg-svg svg-icon="icon-bulk"></tg-svg><span class="num"></span><span translate="SEARCH.FILTER_USER_STORIES" class="name"></span></a></li>
  <li data-name="issues" class="issues"><a href="#" title="{{ 'SEARCH.FILTER_ISSUES' | translate }}">
      <tg-svg svg-icon="icon-issues"></tg-svg><span class="num"></span><span translate="SEARCH.FILTER_ISSUES" class="name"></span></a></li>
  <li data-name="tasks" class="tasks"><a href="#" title="{{ 'SEARCH.FILTER_TASKS' | translate }}">
      <tg-svg svg-icon="icon-bulk"></tg-svg><span class="num"></span><span translate="SEARCH.FILTER_TASKS" class="name"></span></a></li>
  <li data-name="wikipages" class="wikipages"><a href="#" title="{{ 'SEARCH.FILTER_WIKI' | translate }}">
      <tg-svg svg-icon="icon-wiki"></tg-svg><span class="num"></span><span translate="SEARCH.FILTER_WIKI" class="name"></span></a></li>
</ul>