/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.user-change-password fieldset {
  margin-bottom: 1rem;
  width: 50%; }
  .user-change-password fieldset:last-child {
    margin-top: 2rem; }

.user-change-password label {
  font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: .5rem; }

.user-change-password .button-green {
  color: #fff;
  display: block;
  padding: 12px;
  text-align: center; }
