
<tg-lightbox-close></tg-lightbox-close>
<form>
  <h2 translate="LIGHTBOX.DELETE_ACCOUNT.CONFIRM" class="title"></h2>
  <p ng-bind-html="'LIGHTBOX.DELETE_ACCOUNT.BLOCK_PROJECT' | translate"></p>
  <div class="options">
    <button variant="primary" type="button" title="{{'LIGHTBOX.DELETE_ACCOUNT.CANCEL' | translate}}" class="js-cancel btn-small"><span translate="LIGHTBOX.DELETE_ACCOUNT.CANCEL"></span></button>
    <button variant="destructive" type="button" title="{{'LIGHTBOX.DELETE_ACCOUNT.ACCEPT' | translate}}" class="js-confirm btn-small"><span translate="LIGHTBOX.DELETE_ACCOUNT.ACCEPT"></span></button>
  </div>
</form>