
<div ng-if="!vm.from" class="create-project import-project">
  <div ng-include="'projects/create/import/import-header.html'"></div>
  <ul class="import-project-from">
    <li tg-click-input-file="tg-click-input-file" tg-import-taiga="tg-import-taiga" class="import-project-from-site"></li>
    <li ng-click="vm.unfoldOptions('jira')" ng-if="vm.isActiveImporter('jira')" class="import-project-from-site">
      <div class="import-project-logo"><img src="v-1759149512431/images/import-logos/jira.png" alt="Jira Logo"/></div>
      <div class="import-project-name-wrapper"><span class="import-project-name">Jira</span>
        <p class="import-project-description"><span translate="PROJECT.IMPORT.JIRA.SELECTOR"></span><a target="_blank" href="https://tree.taiga.io/support/importers/jira-importer/" translate="PROJECT.IMPORT.JIRA.HOW_TO_CONFIGURE"></a></p>
        <fieldset ng-if="vm.unfoldedOptions == 'jira'" class="import-project-url">
          <label for="jira-host" translate="PROJECT.IMPORT.JIRA.URL"></label>
          <div class="import-project-input-holder">
            <input ng-keyup="$event.keyCode == 13 &amp;&amp; vm.select('jira')" type="text" id="jira-host" ng-model="vm.jiraUrl" class="import-project-input"/>
            <button variant="primary" ng-click="vm.select('jira')" title="{{'PROJECT.IMPORT.ACCEEDE' | translate}}" translate="PROJECT.IMPORT.ACCEEDE" class="btn-small import-project-button"></button>
          </div>
        </fieldset>
      </div>
    </li>
    <li ng-click="vm.select('github')" ng-if="vm.isActiveImporter('github')" class="import-project-from-site">
      <div class="import-project-logo"><img src="v-1759149512431/images/import-logos/github.png" alt="Github Logo"/></div>
      <div class="import-project-name-wrapper"><span class="import-project-name">Github</span>
        <p translate="PROJECT.IMPORT.GITHUB.SELECTOR" class="import-project-description"></p>
      </div>
    </li>
    <li ng-click="vm.select('trello')" ng-if="vm.isActiveImporter('trello')" class="import-project-from-site">
      <div class="import-project-logo"><img src="v-1759149512431/images/import-logos/trello.png" alt="Trello Logo"/></div>
      <div class="import-project-name-wrapper"><span class="import-project-name">Trello</span>
        <p translate="PROJECT.IMPORT.TRELLO.SELECTOR" class="import-project-description"></p>
      </div>
    </li>
    <li ng-click="vm.select('asana')" ng-if="vm.isActiveImporter('asana')" class="import-project-from-site">
      <div class="import-project-logo"><img src="v-1759149512431/images/import-logos/asana.png" alt="Asana Logo"/></div>
      <div class="import-project-name-wrapper"><span class="import-project-name">Asana</span>
        <p translate="PROJECT.IMPORT.ASANA.SELECTOR" class="import-project-description"></p>
      </div>
    </li>
  </ul>
  <div class="create-project-action">
    <button variant="secondary" type="button" ng-click="vm.backToCreate()" title="{{'PROJECT.CREATE.BACK' | translate}}" translate="PROJECT.CREATE.BACK" class="btn-small create-project-action-cancel"></button>
  </div>
</div>
<tg-trello-import ng-if="vm.from == 'trello' &amp;&amp; vm.token" on-cancel="vm.cancelCurrentImport()"></tg-trello-import>
<tg-jira-import ng-if="vm.from == 'jira'" on-cancel="vm.cancelCurrentImport()"></tg-jira-import>
<tg-github-import ng-if="vm.from == 'github' &amp;&amp; vm.token" on-cancel="vm.cancelCurrentImport()"></tg-github-import>
<tg-asana-import ng-if="vm.from == 'asana' &amp;&amp; vm.token" on-cancel="vm.cancelCurrentImport()"></tg-asana-import>