/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.admin-third-parties form {
  margin: 1rem 0;
  max-width: 700px;
  width: 100%; }

.admin-third-parties input,
.admin-third-parties textarea {
  font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif; }

.admin-third-parties fieldset {
  margin-bottom: 1rem; }

.admin-third-parties label {
  font-family: 'Ubuntu-Regular', Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: .2rem; }

.admin-third-parties textarea {
  height: 10rem; }

.admin-third-parties .select-input-text .field-with-option {
  display: flex; }

.admin-third-parties .select-input-text .option-wrapper {
  align-items: center;
  border: 2px solid #D8DEE9;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  display: flex;
  padding: 0 1rem; }

.admin-third-parties .select-input-text .help-copy {
  font-size: .875rem;
  opacity: 0; }
  .admin-third-parties .select-input-text .help-copy.visible {
    opacity: 1;
    transition: opacity .2s linear; }
